<div class="cards">
  <mat-card class="course">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Linux Mastery: Master the Linux</mat-card-title>
     <mat-card-subtitle>Framework Television Inc.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src = "/assets/images/linux.jpg" alt = "Learn Linux">
    <mat-card-content>
      <p>
        Learn the Linux Command Line from Scratch and Improve your Career with the 
       World's Most Fun Project-Based Linux ...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">VIEW COURSE</button>
  
    </mat-card-actions>
  </mat-card>


  <mat-card class="course">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>The Web Developer Bootcamp</mat-card-title>
     <mat-card-subtitle>Colt Steele</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src = "/assets/images/web.jpg" alt = "Learn Linux">
    <mat-card-content>
      <p>
        COMPLETELY REDONE - The only course you need to learn web development - HTML, CSS, JS, Node, and More!  ...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" >VIEW COURSE</button>
  
    </mat-card-actions>
  </mat-card>
</div>