dashboard-header {
  display: inline;
  flex-direction: row;
  padding-left: 50px;
  position: relative;
  margin-left: 2em;
}
mat-card{
  margin: 10px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tp-card {
  max-width: 300px;
  text-align: relative;
  align-items: center;
  max-height: 100%;

}
.tp-header {
  background-size: cover;
  text-align: left;
  position: relative;
  color: blue;
  padding: 5px;
  size: 10px;
  font: 1.5em sans-serif;
  float: left;
  border: 1px solid silver;
}
.text {
  color: purple;
  padding: 0;
  float: left;
  border: 1px solid silver;
}
.button {
  position: relative;
  padding: 10px;
  border: 1px solid silver;
}

.example-card {
  max-width: 300px;
  min-width: 250px;
}

.example-header-image {
  background-image: url('/assets/images/linux.jpg');
  background-size: cover;
}