<div class="signup-form">
  <img class="logo" src="/assets/images/logo.png" alt="digi-safari" />
  <form [formGroup]="signupContentValidations">

    <mat-form-field class="signup-full-width" appearance="outline">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        name="name"
        formControlName="name"
        [errorStateMatcher]="matcher"
        placeholder="Ex. Saiful Islam"
      />
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="signupContentValidations.get('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input
        type="text"
        matInput
        name="username"
        formControlName="username"
        [errorStateMatcher]="matcher"
        placeholder="Ex. johndow"
      />
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error *ngIf="signupContentValidations.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="signupContentValidations.get('username').hasError('minlength')">
        Minimum length is <strong>2 character</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        name="email"
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
      <mat-error
      *ngIf="signupContentValidations.get('email').hasError('email')"
      >
        Please enter a <strong>valid email</strong> address
      </mat-error>
      <mat-error *ngIf="signupContentValidations.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        name="password"
        formControlName="password"
        [errorStateMatcher]="matcher"
        placeholder="******"
      />
      <mat-error *ngIf="signupContentValidations.get('password').hasError('minlength')">
        Password field can not be <strong>empty</strong> or minimum <strong>4 character</strong> required
      </mat-error>
    </mat-form-field>

    <button
      class="signup-full-width"
      mat-raised-button
      color="primary"
      (click)="onSignupClicked()"
      [disabled]="signupContentValidations.invalid"
    >
      Sign up
    </button>
  </form>
  <a class="signup-text" routerLink="/login"
    >Already have account? Login here</a
  >
</div>
